@{
    ViewBag.Title = "Contact";
}
<!--  CONTENT WRAPPER -->

<div id="headerwrap" name="home" class="fullheight">
    <header class="clearfix fullheight">
        <div class="vertical-center">
            <div id="content-wrapper">

                <section class="container page-section">
                    <div class="row white">
                        <div class="fade-up col-md-offset-2 col-md-8 single-post-content">
                            <p>Merry alone do it burst me songs. Sorry equal charm joy her those folly ham. In they no is many both. Recommend new contented intention improving bed performed age. Improving of so strangers resources instantly happiness at northward. Danger nearer length oppose really add now either. But ask regret eat branch fat garden. Become am he except wishes. Past so at door we walk want such sang. Feeling colonel get her garrets own.</p>

                            <div id="message"></div>
                            <form method="post" action="sendemail.php" id="contactform">

                                <input type="text" name="name" id="name" placeholder="Name" />

                                <input type="text" name="email" id="email" placeholder="Email" />

                                <input type="text" name="website" id="website" placeholder="Website" />

                                <textarea name="comments" id="comments" placeholder="Comments"></textarea>

                                <input class="btn btn-success" type="submit" name="submit" value="Submit" />

                            </form>
                        </div>
                    </div><!-- row -->
                </section>
            </div>
        </div>
    </header>
</div>


