
@{
    ViewBag.Title = "Links";
}

<!-- Testimonials -->
<!-- Class Links Page -->
<main>
    <section id="testimonials" class="section-divider textdivider divider6" style="margin-top: 200px;">
        <div class="container">
            <h1 class="fade-down centered section-title">Class Mates</h1>
            <hr class="fade-down title-mb">
            <!--ZAK SISLER-->
            <div id="testimonials-slider" class="owl-carousel" data-items="1" data-items-tablet="[1200,1]" data-items-mobile="[769,1]">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/zakary-sisler/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/ZakPFP.jpeg" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> Connor is an innovative and resourceful worker. He has taught me the benefits of viewing issues as learning opportunities and being persistent when feeling defeated by a problem. His aptitude solving problems in a timely manner is a skill I'd like to emulate. I would highly recommend Connor as a web developer.
                            - Zak Sisler
                            <a href="http://zaksisler.com/" target="blank">zaksisler.com</a> <i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <!--MATT ROBERTS-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/mattroberts-dev/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/MattLinksPage.jpg" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> Many no each like up be is next neat. Put not enjoyment behaviour her supposing. At he pulled object others. - Matt Roberts
                            <a href="http://mattroberts-dev.com" target="blank">mattroberts-dev.com</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <!--JUSTIN PEACOCK-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://projectpeacock.net/" target="blank">projectpeacock.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <!--MICHEAL REDIFER-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-2 testimonial-author-img">
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="blank">
                            <img class="img-circle sb-img bounce-in" src="~/Content/img/Screenshot 2022-03-03 220640.png" />
                        </a>
                    </div>
                    <div class="col-md-10 testimonial-author-img fade-up">
                        <p>
                            <i class="el-icon-quotes"></i> - Justin Peacock
                            <a href="http://peacockproject.net" target="blank">peacockproject.net</a><i class="el-icon-quotes flip180"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
