

<main>
    <div id="headerwrap" name="home" class="fullheight" style="margin-top: 80px; z-index:-1;">
        <header class="clearfix fullheight">
            <div class="vertical-center">
                <h4 style="color: white;">Click Resume to Download</h4>
                <a href="~/Content/ConnorDunnResumeIT.pdf" target="blank"><img src="~/Content/img/Screenshot (19).png" /></a>
                <a href="~/Content/ConnorDunnResumeIT.pdf" target="blank"><img src="~/Content/img/Screenshot (20).png" /></a>
            </div>
        </header>
    </div>


</main>
